/* Font-faces */

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: local('Khand Regular'), local('Khand-Regular'), url(https://fonts.gstatic.com/s/khand/v5/jE6debCT41WQse1Htsii-w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  src: local('Khand SemiBold'), local('Khand-SemiBold'), url(https://fonts.gstatic.com/s/khand/v5/vr6ZNJpXN-WXcTknMA_7TPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Global */

body {
  color: #061839;
  font-size: 16px;
  font-family: 'Khand', Arial, sans-serif;
  line-height: 1.4;
  width: 100%;
}


/* Headings */

h1, h2, h3 {
  font-weight: bold;
  display: inline-block;
}

h1 {
  font-size: 2rem;
  display: inline;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}


/* Nav */

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #061839;
}


/* Spans */

#logo-contrast {
  color: #7486A9;
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}


/* Containers */


/* Left Container*/

.container-left {
  width: 60%;
  overflow: hidden;
  margin: 0 1.5rem;
}


/* Right Container */

.container-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* Offset for fixed header */

#learn, #info, #courses, #thesis, footer {
  position: relative;
  top: 4rem;
}


/* Image containers */

.thumbnail-img {
  min-width: 35%;
  padding: 1rem;
}


/* Container hides mobile pics for full res display */

.mobile {
  display: none;
}


/* Header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #061839;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 5;
  width: 100%;
}

#logo {
  height: 3rem;
}

#branding {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

nav {
  margin-right: 1.5rem;
}

nav ul li {
  margin-left: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  color: #7486A9;
}


/* Learn Section Styles */

#learn {
  background-color: #F6F8FD;
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#learn img {
  max-width: 100%;
}

#learn .container-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#learn .container-right p {
  font-size: 1.2rem;
  margin: 2rem 1.5rem 2rem 0;
}

#start-button {
  font-size: 1.2rem;
  background-color: #061839;
  padding: .5rem 4rem;
  display: inline-block;
  transition-property: padding;
  transition-delay: .2s;
  transition-duration: 1.2s;
}

#start-button a {
  color: #F6F8FD;
  text-decoration: none;
}

#start-button:hover {
  padding: .5rem 12rem;
}


/* Info section styles */

#info {
  display: flex;
  flex-direction: row;
}

#info img {
  max-width: 100%;
}

#info h2 {
  margin-top: 2rem;
}

blockquote {
  margin: 1.5rem 0;
}

cite {
  margin-bottom: 2rem;
}

.side-bar-item {
  display: flex;
  position: relative;
  bottom: 1rem;
}

.side-bar-item:hover {
  background-color: #F6F8FD;
}

.side-bar-item img {
  max-width: 100%;
  height: auto;
}

.side-bar-text {
  min-width: 60%;
  align-self: center;
}

.read-more a {
  color: #102751;
  text-decoration: none;
  transition: border-bottom .15s linear .15s
}

.read-more a:hover {
  border-bottom: 1px solid #7486A9;
}

.side-bar-text h3, .side-bar-text p {
  margin-bottom: .5rem;
}


/* Course Gallery Styles */

#courses {
  background-color: #F6F8FD;
  padding-bottom: 1.5rem;
}

#courses h2 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#course-gallery {
  margin: 0 auto;
  width: 90%;
}

#row-1, #row-2 {
  display: flex;
  flex-direction: row;
}

.gallery-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 2rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
  transition: padding .3s linear .2s;
}

.gallery-item:hover {
  padding: 1rem;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.gallery-item h3, .gallery-item span, .gallery-item p {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}


/* Thesis section styles */

#thesis {
  margin-bottom: 2rem;
}

#thesis h2 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#thesis-content {
  display: flex;
  flex-direction: row;
}

iframe {
  max-width: 100%;
}

#thesis-content .container-left h3, #thesis-content .container-left p {
  margin-top: 1.5rem;
}


/* Footer styles */

footer {
  background-color: #F6F8FD;
  border-top: 1px solid #061839;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin-left: 1rem;
}

footer ul li {
  margin-right: 1rem;
}

footer a:hover {
  color: #7486A9;
}
